.withPanelPadding {
    padding-left: 300px;
}

.top-nav-container {
	margin-left: 20px;
}

.page-content-container {
    padding-top: 50px;
}

.userView{
	height: 150px;
}

.background{
	overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.myIcon {
    font-size: 24px;
}

.loading {
    background-color: red;
}

.loaded {
    background-color: green;
}