/*.withPanelPadding {
    padding-left: 300px;
}

.top-nav-container {
	margin-left: 20px;
}

.page-content-container {
    padding-top: 50px;
}

.userView{
	height: 150px;
}

.background{
	overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.myIcon {
    font-size: 24px;
}*/

html.loading {
    background-color: navy;
}

html.loaded {
    background-color: green;
}

@keyframes move{
    0%   {left:40%; top:0px; opacity: 0.7;}
    50% {left:60%; top:0px; opacity: 1;}
    100%   {left:40%; top:0px; opacity: 0.7;}
}

@keyframes move-reverse {
    0%     {left:60%; top:0px; opacity: 1;}
    50%    {left:40%; top:0px; opacity: 0.7;}
    100%   {left:60%; top:0px; opacity: 1;}
}

div.first-block {
    animation-name: move;
}

div.second-block {
    animation-name: move-reverse;
}

div.third-block {
    animation-name: move;
}

html.loading div.loading-block{
    width: 200px;
    height: 50px;
    position: relative;
    background-color: white;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



html.loaded div.loading-block{
    
}